
{% extends 'mpdigital/layout.html' %}

{% block title %} MP Digital Works {% endblock %}

{% load static %}

{% block main %}

<div class="video-wrapper">
    <video playsinline autoplay muted loop poster="">
        <source src="{% static 'mpdigital/hero-bg.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    
    <div class="container hero-container text-center">
        <div class="row">
            <div class="col-lg-6 order-lg-first order-last d-flex justify-content-center align-items-center">
                <div class="text-start tagline">
                    <h2>Creative & Innovative</h2>
                    <h1><span class="cyan">Digital</span><span class=purple> Solutions</span></h1>   
                    <h2>To Boost Your Brand's</h2>
                    <h1><span class="cyan">Digital</span><span class=purple> Presence</span></h1>    
                    <hr>
                    <h5>
                        If you’re looking to redefine and expand your digital presence, increase your revenue and grow your business, you’ve come to the right place!
                    </h5>
                    <p>
                        We can help you get more leads, more clients, more exposure, more brand awareness or more sales.
                    </p>
                    <button class="btn btn-primary view-works">View Works</button>
                    <button class="btn btn-primary get-started">Get Started</button>
                </div>
            </div>
            <div class="col-lg-6 hero-graphics d-flex justify-content-center align-items-center">
                <img src="{% static 'mpdigital/hero-graphics.svg' %}" alt="Digital Graphics Illustration">
            </div>
        </div>
    </div>
</div>

<div class="test">
    
</div>



{% endblock %}