
body {
    background-color: #0B1445;  
}

header {
    font-family: 'Monda', sans-serif;
}

/*
.navbar {
    background-color: rgba(11, 20, 69, 0.5);
} */

.navbar-brand img {
    height: 50px;
    padding: 5px;
}

.nav-link {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 1.1rem;
    color: #00FFFF;
    letter-spacing: 3px;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF00C1;
    transform-origin: bottom right;
    transition: transform 0.50s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

 .nav-link:hover {
    color: #FF00C1;
}

 .btn-contact {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: none;
    color: #FF00C1;
    border: 2px solid #FF00C1;
}

 .btn-contact:hover {
    background-color: #00FFFF;
    border: none;
}

.top-spacer {
    height: 76px;
}

 /* Index */

 .video-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

 video {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    filter:opacity(50%);
}

.hero-container {
    position: absolute;
    padding: 10px;
}

.test {
    height: 100vh;
}

.tagline {
    color: white;
}

.hero-graphics {
    
}

.hero-graphics img {
    height: 100%;
}